{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "ignorePatterns": [
    "/components/ui/**/*.vue",
    "/utils.ts"
  ],
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "block", "next": "const" },
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "vue/max-len": [
      "error",
      {
        "code": 120,
        "template": 120,
        "tabWidth": 2,
        "ignorePattern": "",
        "ignoreComments": true,
        "ignoreTrailingComments": false,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": false,
        "ignoreRegExpLiterals": false,
        "ignoreHTMLAttributeValues": true,
        "ignoreHTMLTextContents": false
      }
    ]
  }
}